body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  /* background-color: rgb(35, 35, 35); */
  background: rgb(59,59,59);
  /* background: radial-gradient(circle, rgba(59,59,59,1) 57%, rgba(96,95,95,1) 100%); */
}

#menuLine{
  font-size: large;
  color: whitesmoke;
  background-color: #4CAF50;
  margin: 10px auto;
  text-align: center;
}

#FinishLineSvg{
  position: absolute;
  right: 0;
  top: 40px;
  /* 
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  margin: auto;
  text-align: center;
}

#allRunners {
  /* position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0); */
  position: relative;
}
.runnerContainer{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  /* width: 80px;
  height: 80px; */
  /* -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -ms-transition:all 1s;
  -o-transition:all 1s;
  transition:all 1s; */

}

.runner {
  position: relative;
  display: block;
  width: 76px;
  height: 76px;
  border-radius: 50%;

}

#runner1{
  border: 2px solid #C9FF33;
}
#runner2{
  border: 2px solid white;
}
#runner3{
  border: 2px solid #33FF69;
}
#runner4{
  border: 2px solid #ff33da;
}
#runner5{
  border: 2px solid #ff8c00;
}

.button {
  position: relative;
  width: 50%;
  display: block;
  background-color: #4CAF50;
  color: whitesmoke;
  padding: 20px 0;
  text-align: center;
  /* display: inline-block; */
  font-size: 16px;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;

}

#buttonReset{
  display: none;
}