*{
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0px;
    font-style: normal;
    width: 100%;
}

body{
    position: relative;
    background-color: rgb(30, 30, 30);
    color: whitesmoke;
}

#header {
    text-align: center;
}

h2{
    margin: 0;
    padding: 25px 0;
}





.container{
    position: relative;
    /* height: 30vh; */
    /* max-width: 600px; */
    /* margin: 0 auto; */
    /* align-items: center; */
    height: 200px;
    background-color: rgb(61, 64, 235);
}

.column {
    float: left;
    width: 33.33%;
    background-color: blue;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .dateText:after {
    content: "";
    display: table;
    clear: both;
  }


/* **********************************************************cube*******************************************************/

.cubeContainer{
    position: absolute;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 70px;
    height: 70px;
    perspective: 140px;
}

.cube{
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transition: 1s;
    /* transform: rotateX(0) rotateY(-20deg); */
    transform: rotate3d(0.1,1,0,-20deg);
}


.side{
    position: absolute;
    width: inherit;
    height: inherit;
    border: 1px solid rgb(0, 132, 255);
    font: normal 30px Arial;
    text-align: center;
    /* line-height: 300px; */
    color: whitesmoke;
    text-shadow: 1px 1px 10px rgb(0, 132, 255);
    background-color: rgba(6, 20, 102, 0.8);
    padding-top: 18px;
}

.front{
    transform: translateZ(35px);
}

.back{
    transform: rotateY(180deg) rotateZ(180deg) translateZ(35px);
}

.right{
    transform: rotateY(90deg) translateZ(35px);
}
.left{
    transform: rotateY(-90deg) translateZ(35px);
}

.top{
    transform: rotateX(90deg) translateZ(35px);
}

.bottom{
    transform: rotateX(-90deg) translateZ(35px);
}

.cubeSideFrontText, .cubeSideBackText, .cubeSideRightText, .cubeSideLeftText, .cubeSideTopText, .cubeSideBottomText{
    transition: transform 1s ease-out;
}

/* **********************************************************cube_end*******************************************************/
